<!-- SECCION SOBRE MI (ABOUT)-->



<div class="about">
 

    <article>
        <h1 class="perfilAbout">Perfil Profesional</h1>
        <strong class="strongProfesion"> Desarrollador de Software Junior |Estudiante de Ingeniería de Sistemas</strong>

        <p class="parrafoAbout">
            Egresado de la carrera de Computación e
            Informática, con formación en desarrollo de aplicaciones web, programación
            orientada a objetos y consumo de APIs REST. Experiencia académica y
            práctica en front-end y back-end, bases de datos relacionales y control de
            versiones. Perfil analítico, orientado a la solución de problemas y al aprendizaje
            continuo en entornos tecnológicos.
        </p>
        <p class="parrafoAbout">
            Actualmente me encuentro cursando la carrera de Ingeniería de Sistemas, fortaleciendo mis conocimientos en
            análisis, diseño y gestión de sistemas, con el objetivo de complementar mi formación técnica con un enfoque
            más integral y estratégico.

            Me caracterizo por ser una persona analítica, orientada a la resolución de problemas y al aprendizaje
            continuo en entornos tecnológicos. </p>

    </article>
    <article >
        <h2> Formación Académica </h2>
        <ul>
            <li> SENATI
                Técnico Eléctrico
                Instrumentista
                Industrial (Titulo a
                Nombre de la Nación) <br>
                2016 – 2018 </li>

            <li> Instituto CIBERTEC – Lima, Perú
                Computación e Informática (Egresado)
                <br>
                2023 – 2025

            </li>

            <li>Universidad Privada del Norte -Estudiante de Ingenieria
                en Sistemas <br> 2026-2028(Fecha estimada de
                graduación) </li>



            
            
        </ul>




    </article>



</div>


























<!--

            <li>Universidad Privada del Norte -Estudiante de Ingenieria
                en Sistemas <br> 2026-2028(Fecha estimada de
                 graduación) </li>
-->