:host {
  display: block;


 
  /* min-height: 10vh; no es necesario*/
  padding: 2rem;
}
.contacto{
    display: flex;
    flex-flow: column ;
    gap: 20px;
   align-items: center;
}


.card-contacto{
    font-size: 16px;
      background: #223840; /* fondo oscuro más profesional */
    padding: 20px;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.github{

    margin: 0 auto;
    display: block;
    background-color: burlywood;
    width: 50%;
    height: 50px;
    padding: 10px;
    color: black;
     font-size: 20px;
}