:host {
  display: block;


 
  min-height: 10vh;
  padding: 2rem;
}
.center{
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;

  background: linear-gradient(170deg,#2e2e35, #223840);
  width: 100%;

    display: flex;
  flex-flow: row wrap;
align-items: center;
padding: 15px;
   border-radius: 20px;
   gap:20px
 

}
.name{
margin-right: auto;
color:azure;
}
.right{
  width: 50%;
display: flex;
flex-flow: row;
align-items: flex-end;
  gap: 20px;
  

/*no mas de 20px s erompe*/
}
a{
flex: 1; /*hijo del padre .rigth{}*/
    text-align: center;
    color: azure;
}
