
<div class="container-fluid" style="background: linear-gradient(to right,azure, #e6deef); min-height: 100vh; padding-bottom: 50px;">
  <!-- Título principal -->
  
<p class="skills"> Competencias Técnicas</p>

<section class="section-layout">
  
    <article class="articleBackend">
        
        <h2  class="titulo"> Lenguajes de Backend</h2>

        <div class="contenedor-logos"> 

            <div> 
                    <h3>Avanzado</h3>
                    <img class="logosJava"src="assets/logos_lenguajes/javaLogo.jpg"/>
            </div>

        
            <div> 
                <h3>Intermedio</h3>
                <img class="logosJava"src="assets/logos_lenguajes/CsharpLogo.png"/>
            </div>

            <div> 
                <h3>Intermedio</h3>
                <img class="logosJava"src="assets/logos_lenguajes/pythonLogo.jpg"/>
            </div>
        </div>

    </article>

    <article class="articleBD">
        <h2 class="titulo"> Base de Datos</h2>
        
        <div class="contenedor-logos"> 

            <div> 
                    <h3>Avanzado</h3>
                    <img class="logosBD"src="assets/baseDatos/sqlserverLogo.png"/>
            </div>

        
            <div> 
                <h3>Avanzado</h3>
                <img class="logosBD"src="assets/baseDatos/mysqlLogo.png">
            </div>

            <div> 
                <h3>Avanzado</h3>
                <img class="logosBD"src="assets/baseDatos/mongoDBLogo.png"/>
            </div>
             <div> 
                <h3>Avanzado</h3>
                <img class="logosFireBase"src="assets/baseDatos/firebaseLogo.png"/>
            </div>
        </div>

    </article>
  
    <article class="articleBackend">
            <h2  class="titulo"> Control de versiones</h2>
         <div class="contenedor-logos"> 

            <div> 
                    <h3>Avanzado</h3>
                    <img class="logosJava"src="assets/controlVersiones/githubLogo.png"/>
            </div>

        
            <div> 
                <h3>Avanzado</h3>
                <img class="logosJava"src="assets/controlVersiones/dockerLogo.jpg"/>
            </div>

            <div> 
                <h3>Avanzado</h3>
                <img class="logosJava"src="assets/controlVersiones/azureLogo.png"/>
            </div>
        </div>
    </article>
<!--  ARTICLE  PARA FRONNT ENDDDDDDDDD-->
        <article class="articleBackend">
        
        <h2  class="titulo"> Frontend</h2>

        <div class="contenedor-logos"> 

            <div > 
                    <h3>Avanzado</h3>
                    <img class="logosJava"src="assets/logos_lenguajes/HtmlLogo.png"/>
            </div>

        
            <div> 
                <h3>Avanzado</h3>
                <img class="logosJava"src="assets/logos_lenguajes/CSSLogo.png"/>
            </div>

            <div> 
                <h3>Avanzado</h3>
                <img class="logosJava"src="assets/logos_lenguajes/javaScriptLogo.png"/>
            </div>
        </div>

    </article>

    <article class="articleBD">
        <h2 class="titulo"> Frameworks</h2>
        
        <div class="contenedor-logos"> 

            <div > 
                    <h3>Avanzado</h3>
                    <img class="logosFRMW"src="assets/frameworks_lenguajes/AngularLogo.png"/>
            </div>

        
            <div> 
                <h3>Avanzado</h3>
                <img class="logosFRMW"src="assets/frameworks_lenguajes/ReactLogo.png">
            </div>

            <div> 
                <h3>Avanzado</h3>
                <img class="logosFRMW"src="assets/frameworks_lenguajes/springbootLogo.png"/>
            </div>
             
        </div>

    </article>

        <article class="articleBackend">
        
        <h2  class="titulo"> Lenguajes Moviles</h2>

        <div class="contenedor-logos"> 

            <div> 
                    <h3>Intermedio</h3>
                    <img class="logosJava"src="assets/moviles_lenguajes/kotlinLogo.png"/>
            </div>

        
            <div> 
                <h3>Intermedio</h3>
                <img class="logosJava"src="assets/moviles_lenguajes/swiftLogo.png"/>
            </div>

           
        </div>

    </article>
    
</section>


</div>