

    <h1  id="experiencia">Experiencia Laboral</h1>
<section>

    <article>
        <h2>
            Overknight Perú S.A.C. – Cercado de Lima
            <br>
            Soporte Técnico de Sistemas Diciembre 2024 – Junio 2025
        </h2>
        <p>
            • Soporte y validación funcional de sistemas tecnológicos en campo. Pruebas operativas de equipos antes de
            su puesta en producción.
        </p>

        <p> • Registro y documentación de incidencias técnicas.
            Coordinación con equipos técnicos y de soporte.
        </p>

    </article>

    <article>
        <h2> Clínica Javier Prado– San Isidro, Lima
            <br>
            Técnico en Electricidad
            Periodo: Enero 2024 – Octubre 2024
        </h2>
        <p> • Mantenimiento preventivo y correctivo de sistemas eléctricos y de control industrial. </p>
        <p> •  Verifica el funcionamiento de sistemas críticos (GE, bombas, salidas de oxígeno y vacío)</p>
        <p> • Realizar tareas preventivas y correctivas en equipos biomédicos, electromecánicos, instalaciones
            eléctricas, sanitarias e infraestructura </p>
    </article>

    <article>
        <h2> JYS Control Automatización – Carabayllo, Lima
            <br>
        Técnico en electricidad y automatización
        Periodo: Enero 2020 – Enero 2021
        </h2>
        <p>
•	Mantenimiento y control de sistemas eléctricos industriales, motores, cilindros neumáticos, válvulas, instrumentos en Alicorp.
        </p>
        <p>
            •	Montaje de tableros eléctricos, armado de tableros eléctricos.

        </p>
        <p>
            •	Técnico en proyectos de automatización y pruebas funcionales de equipos en Molitalia, Quimpac, Alicorp, Quintia.
        </p>
    </article>

</section>